@font-face {
    font-family: ZCOOLKuaiLe;
    src: url("/styles_fonts/ZCOOLKuaiLe-Regular.ttf");
    font-family: IBM_Plex_Mono;
    src: url("/styles_fonts/IBMPlexMono-Re.otf");
}

a {
    color: #55ffbb;
}

/* 代码高亮色彩使用 highlight.js 提供的 github-dark-dimmed 主题 */
code {
    /* 字体默认使用 IBM Plex Mono */
    font-family: 'IBM_Plex_Mono', 'Courier New', Courier, monospace;
    /* 此处的背景颜色取自 highlight.js 的代码块背景色 */
    background-color: #22272e;
    /* 为了保证行内代码的醒目以及与代码块的一致，字体色取自 highlight.js 的代码字体色 */
    color: #adbac7;
    font-size: 85%;
}

.ContentpageInfo {
    font-family: 'Courier New', Courier, monospace;
    color: #55ffbb;
    margin-left: 3%;
}

.ContentpageContent {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #9060ff;
    margin: 2%;
}

.ContentpageLog {
    font-family: 'ZCOOLKuaiLe';
    color: #9060ff;
    margin-left: 1%;
}

#contentpageMain {
    position: absolute;
    width: 70%;
    left: 2%;
    top: 10%;
    min-height: 87%;
    height: auto;
    
    background-color: #2b2b2bd5;
    backdrop-filter: blur(10px);
}

#contentpageSight {
    position: fixed;
    right: 1%;
    bottom: 3%;
    border-radius: 50%;

    background-color: #2b2b2bd5;
    backdrop-filter: blur(10px);
}

#contentpageSub {
    position: fixed;
    width: 26%;
    top: 10%;
    left: 73%;
    min-height: 30%;
    max-height: 70%;
    height: auto;
    
    background-color: #2b2b2bd5;
    backdrop-filter: blur(10px);
}

